@charset "utf-8";
/* CSS Document */
.background{ background-image:url(Icon/12653-metal-engraving-1920x1200-abstract-wallpaper.jpg); font-size:24px;}
body{ background-image:url(Icon/Crysis.jpg)}
.font{ font-size:20px; background-color:#CCC}
th{text-align:left;}
.red{ color:#F00;}
.head{font-size:60px; color:#FF0;}


